html {
	background-color: #360909;	
	font-family: 'Sans-serif';
}

.top-nav ul{
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.top-nav li {
	float: right;
}

.top-nav li a{
	color: #f2f2f2; 
	text-decoration: none;
	padding: 15px 22px;
	font-size: 18px;
}

h1,
.top-nav li a {
	display: block;
	text-align: center;	
}

.top-nav a:hover {
	background-color: white;
	color: #333;
}

h1 {
	color: #f2f2f2;
	padding: 15px 20px;
	margin: 13% auto;
	font-size: 100px;
	text-shadow: 4px 4px 1px black;
}

a.selected {
	background-color: white;
}
